/*reset tag*/
body,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,p,input,form{
	margin:0;
	padding:0;
	list-style:none;
}
body{
	font:12px 'Microsoft yahei';
}
img{
	border:0;
}
a{
	text-decoration:none;
	color:#333;
}